#zen {
    background-color: #282C33;
}
#qiwi {
    background-color: #FF8D00;
}

#boosty {
    background-color: #F1672B;
}

#patreon {
    background-color: #F86754;
}

#rutube {
    background-color: #0B1D38;
}
#idprofile {
    height: 100px;
}

#ava {
    height: 90px;
}

#fnafsb {
    background-color: rgba(0, 0, 0, 0.493);
}

.socnet {
    height: 90px;
}

.links {
    height: 90px;
}

.header {
    margin-top: 0px;
    margin-bottom: -18px;
}